:root {
    /* fonts */
    --inria-font: "Inria Sans", sans-serif;
    --barlow-font: "Barlow", sans-serif;
    /* color palette */
    --black-color: rgb(15, 14, 14);
    --white-color: rgb(253, 253, 253);
    --gray-color: rgb(156, 155, 155);
    --lighter-gray-color: rgba(156, 155, 155, 0.2);
    --green-color: #abc408;
}

body {
    font-family: var(--barlow-font);
    background-color: var(--white-color);
    color: var(--black-color);
    font-size: 20px;
    line-height: 1.5;
}

header {
    background-color: var(--purple);
    color: var(--light-gray);
    padding: 40px 30px;
    padding-right: 80px;
    border-bottom: 1px solid black;
}

#headerItems {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 150%;
}

#navItems {
    display: flex;
    align-items: center;
    text-align: center;
}

.navBtns {
    cursor: pointer;
    transition: ease-out 0.4s;
}

.navBtns:hover {
    color: var(--green-color);
    transform:  scale(1.09);
}

.navBtns:active {
    transform:  scale(0.9);
}

.headerSpace {
    width: 70px;
}

#languageBtn {
    font-family: inherit;
    font-size: 70%;
    border-radius: 5px;
    background-color: var(--black-color);
    color: var(--white-color);
    border: none;
    padding: 8px;
    cursor: pointer;
    width: max-content;
    transition: ease-out 0.2s;
}

#languageBtn:hover {
    transform: scale(1.02);
    background-color: rgba(11, 8, 8, 0.743)
}

#languageBtn:active {
    transform: scale(1.01);
    background-color: var(--black-color);
}

main {
    padding: 40px;
    padding-top: 20px;
}

h2 {
    font-size: 200%;
    font-weight: bold;
}

#aboutSection {
    display: flex;
    flex-direction: row;
}

#aboutSectionText {
    text-align: justify;
}

i {
    font-style: italic;
}

h3 {
    color: var(--gray-color);
    font-size: 125%;
    padding-top: 30px;
    padding-bottom: 20px;
}

.aboutSpace {
    height: 20px;
}

b {
    font-weight: bold;
}

#aboutSectionImg {
    margin-left: 30px; 
    padding-left: 30px;
    width: 400%;
    border-left: 1px solid black;
}

img {
    width: 100%;
    display: flex;
    flex-wrap: wrap;    
}

.imgSpace {
    height: 10px;
}

footer {
    padding: 20px;
    font-size: 80%;
    background-color: var(--lighter-gray-color);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

a {
    color: var(--green-color);
}

#favIconFooter {
    margin: 10px;
    width: 50px;
    
}

/* Media Queries */

@media (max-width: 1000px) {
    body {
    
    }
    #headerItems {
        flex-direction: column;
    }

    #navItems {
        margin-top: 30px;
        justify-content: space-between;
    }
  }

  @media (max-width: 700px) {
    #navItems {
        display: none;
    }
    #aboutSection {
        flex-direction: column;
    }
    #aboutSectionImg {
        margin-left: 0px; 
        margin-top: 10px;
        width: 100%;
        border: none;
        padding-left: 0px;
    }
  
  }
  